{% extends 'viewtubeBase.html.twig' %}

{% block titulo %}
	{% trans %}editarVideo.titulo{% endtrans %}
	-
	{{ parent() }}
{% endblock %}

{% block main %}
	{{ form_start(form) }}
	<p>{{ form_label(form.titulo) }}
		{{ form_widget(form.titulo) }}
		<br/>{{ form_help(form.titulo) }}</p>
	<div class="form-error">
		{{ form_errors(form.titulo) }}
	</div>

	<p>{{ form_label(form.descripcion) }}<br/>
		{{ form_widget(form.descripcion) }}
		<br/>
		{{ form_help(form.descripcion) }}</p>
	<div class="form-error">
		{{ form_errors(form.descripcion) }}
	</div>

	<p>{{ form_label(form.fecha) }}
		{{ form_widget(form.fecha) }}
		<br/>
		{{ form_help(form.fecha) }}</p>
	<div class="form-error">
		{{ form_errors(form.fecha) }}
	</div>

	{{form_row(form.save) }}
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: 'textarea'});
	</script>
{% endblock %}
