{% extends 'viewtubeBase.html.twig' %}

{% block titulo %}
	{{ parent() }}
{% endblock %}

{% block main %}
	<div class="row">
		<div id="lateral" class="col-2"></div>

		<div id="main" class="col-10">
			<ul class="listaVideos">
				<div class="row justify-content-center justify-content-xl-start">
					{% for video in videos %}
						<div class="col-10 col-xl-4">
							<li class='bloqueVideo'>
								<div class="row">
									<div class="col">
										<a href='{{ path('verVideo', {'id': video.id}) }}'><img id="video" src="{{ asset('images/thumbnailsVideos/thumbnailVideo-' ~ video.id ~ '.jpg') }}"/></a>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<h3 id="tituloVideo">
											<a href='{{ path('verVideo', {'id': video.id}) }}'>{{video.titulo}}</a>
										</h3>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<a id="nickUsuario" href="{{ path('verPerfil', {'id': video.usuario.id}) }}">{{video.usuario.nick}}</a>
									</div>
								</div>
								<div class="row">
									<div class="col">
										{{video.fecha|date("Y-m-d H:i")}}
									</div>
								</div>
								<div class="row">
									<div class="col">
										{{video.comentarios|length}}
										{% trans %}index.comentarios{% endtrans %}
									</div>
								</div>
							</li>
						</div>
						{% if (video.id % 3) == 0 %}
						</div>
						<div class="row justify-content-center justify-content-xl-start">
						{% endif %}
					{% else %}
						<div class="col">
							<li class='bloqueVideo'>{% trans %}index.videos{% endtrans %}</li>
						</div>
					{% endfor %}
				</div>
			</ul>
		</div>
	</div>
{% endblock %}
