{% extends 'viewtubeBase.html.twig' %}

{% block titulo %}
	{{ parent() }}
{% endblock %}

{% block main %}
	<div id="content" class="row">
		<div id="lateralIzquierdo" class="col-12 col-xl-2">
			<div class="row">
				<div class="col-4 col-xl-10 m-4">
					<label class="form-label" for="selCategoria">{% trans %}video.categoria{% endtrans %}</label>
					<select class="form-select mt-2" name="selCategoria" onchange="actualizaIndex(this.value)">
						<option value="">{% trans %}categoria.none{% endtrans %}</option>
						{% for categoria in categorias %}
							<option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
						{% endfor %}
					</select>
					<div id="actualizaIndexRender"></div>
				</div>
			</div>
		</div>

		<div id="main" class="col-12 col-xl-10">
			<ul id="listaVideos" class="listaVideos">
				<div class="row justify-content-center justify-content-xl-start">
					{% for video in videos %}
						<div class="col-10 col-xl-4">
							<li class='bloqueVideo'>
								<div class="row">
									<div class="col">
										<a href='{{ path('verVideo', {'id': video.id}) }}'><img id="video" src="{{ asset('images/thumbnailsVideos/thumbnailVideo-' ~ video.id ~ '.jpg') }}"/></a>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<h3 id="tituloVideo">
											<a href='{{ path('verVideo', {'id': video.id}) }}'>{{video.titulo}}</a>
										</h3>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<a id="nickUsuario" href="{{ path('verPerfil', {'id': video.usuario.id}) }}">{{video.usuario.nick}}</a>
									</div>
								</div>
								<div class="row">
									<div class="col">
										{{video.fecha|date("Y-m-d H:i")}}
									</div>
								</div>
								<div class="row">
									<div class="col">
										{{video.comentarios|length}}
										{% trans %}index.comentarios{% endtrans %}
									</div>
								</div>
							</li>
						</div>
						{% if (loop.index % 3) == 0 %}
						</div>
						<div class="row justify-content-center justify-content-xl-start">
						{% endif %}
					{% else %}
						<div class="col">
							<li class='bloqueVideo'>{% trans %}index.videos{% endtrans %}</li>
						</div>
					{% endfor %}
				</div>
			</ul>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="{{ asset('js/actualizaVideos.js') }}"></script>
{% endblock %}
