{% extends 'viewtubeBase.html.twig' %}

{% block titulo %}
	{{ parent() }}
{% endblock %}

{% block main %}
	<div id="content" class="row">
		<div id="lateralIzquierdo" class="col-12 col-xl-2">
			<div class="row">
				<div class="col-4 col-xl-12">
					<div class="m-3">
						<form method="post">
							<label class="form-label" for="selCategoria">{% trans %}video.categoria{% endtrans %}</label>
							<select class="form-select mt-2" name="selCategoria" onchange="this.form.submit()">
								<option value="">{% trans %}categoria.seleccione{% endtrans %}</option>
								<option value="0">{% trans %}categoria.none{% endtrans %}</option>
								{% for categoria in categorias %}
									<option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
								{% endfor %}
							</select>
						</form>
					</div>
				</div>
				<div class="col-4 col-xl-12">
					<div class="m-3">
						<form method="post">
							<label class="form-label" for="inputFecha">{% trans %}formulario.fecha{% endtrans %}</label>
							<input onchange="this.form.submit()" class="form-control" type="date" name="inputFecha" value="" min="2021-09-15">
						</form>
					</div>
				</div>
				<div class="col-4 col-xl-12">
					<div class="m-3">
						<form method="post">
							<div class="row">
								<div class="col">
									<button onclick="this.form.submit()" onchange="this.form.submit()" class="btn p-1" type="button" value="ASC" name="fechaAsc" id="fechaAsc">{% trans %}fecha.ascendente{% endtrans %}</button>
								</div>
								<div class="col text-end">
									<button onclick="this.form.submit()" onchange="this.form.submit()" class="btn p-1" type="button" value="DESC" name="fechaDes" id="fechaDes">{% trans %}fecha.descendente{% endtrans %}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div id="main" class="col-12 col-xl-10">
			<ul id="listaVideos" class="listaVideos">
				<div class="row justify-content-center justify-content-xl-start">
					{% for video in videos %}
						<div class="col-10 col-xl-4">
							<li class='bloqueVideo'>
								<div class="row">
									<div class="col">
										<a href='{{ path('verVideo', {'id': video.id}) }}'><img id="video" src="{{ asset('images/thumbnailsVideos/' ~ video.thumbnail) }}"/></a>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<h3 id="tituloVideo">
											<a href='{{ path('verVideo', {'id': video.id}) }}'>{{video.titulo}}</a>
										</h3>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<a id="nickUsuario" href="{{ path('verPerfil', {'id': video.usuario.id}) }}">{{video.usuario.nick}}</a>
									</div>
								</div>
								<div class="row">
									<div class="col">
										{{video.fecha|date("d-m-Y H:i")}}
									</div>
								</div>
								<div class="row">
									<div class="col">
										{{video.comentarios|length}}
										{% trans %}index.comentarios{% endtrans %}
									</div>
								</div>
							</li>
						</div>
						{% if (loop.index % 3) == 0 %}
						</div>
						<div class="row justify-content-center justify-content-xl-start">
						{% endif %}
					{% else %}
						<div class="col">
							<li class='bloqueVideo'>{% trans %}index.videos{% endtrans %}</li>
						</div>
					{% endfor %}
				</div>
			</ul>
		</div>
	</div>
{% endblock %}
