{% extends 'viewtubeBase.html.twig' %}

{% block titulo %}
	{% trans %}nuevaVideo.titulo{% endtrans %}
	-
	{{ parent() }}
{% endblock %}

{% block main %}
	<p class="small">
		<a href="{{ path('index') }}">←
			{% trans %}video.volver{% endtrans %}</a>
	</p>
	{#
	{{ form_start(form) }}
	<p>{{ form_label(form.titulo) }}
		{{ form_widget(form.titulo) }}
		<br/>{{ form_help(form.titulo) }}</p>
	<div class="form-error">
		{{ form_errors(form.titulo) }}
	</div>

	<p>{{ form_label(form.entradilla) }}<br/>
		{{ form_widget(form.entradilla) }}
		<br/>
		{{ form_help(form.entradilla) }}</p>
	<div class="form-error">
		{{ form_errors(form.entradilla) }}
	</div>

	<p>{{ form_label(form.cuerpo) }}<br/>
		{{ form_widget(form.cuerpo) }}
		<br/>
		{{ form_help(form.cuerpo) }}</p>
	<div class="form-error">
		{{ form_errors(form.cuerpo) }}
	</div>

	{{form_row(form.save) }}
	{{ form_end(form) }}
	#}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: 'textarea'});
	</script>
{% endblock %}
