{% extends 'viewtubeBase.html.twig' %}

{% block titulo %}
	{{usuario.nick}}
	-
	{{ parent() }}
{% endblock %}

{% block main %}
	<div id="perfilInfo" class="row">
		<div id="avatarPerfil" class="col-3">
			{% if (usuario.avatar != "" or usuario.avatar != null) %}
				<img id="avatar" class="dropdown-toggle img-thumbnail" src="{{ asset('images/avatares/' ~ usuario.avatar) }}" title="{{ usuario.nick }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			{% else %}
				<img id="avatar" class="dropdown-toggle img-thumbnail" src="{{ asset('images/avatares/sinFoto.png') }}" title="{{ usuario.nick }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			{% endif %}
		</div>
		<div class="col-9">
			<div class="row">
				<div class="col">
					<h3>{{usuario.nick}}</h3>
				</div>
			</div>
			{% if is_granted('ROLE_USER') %}
				{% if (is_granted('ROLE_ADMIN')) or (app.user.id == usuario.id) %}
					<div class="row">
						<div class="col">
							<p>{% trans %}usuario.correo{% endtrans %}:
								{{usuario.email}}</p>
						</div>
					</div>
					<div class="row row-cols-2">
						<div class="col-4">
							<p>{% trans %}usuario.nombre{% endtrans %}:
								{{usuario.nombre}}</p>
						</div>
						<div class="col-4">
							<p>{% trans %}usuario.apellidos{% endtrans %}:
								{{usuario.apellidos}}</p>
						</div>
					</div>
					<div class="row row-cols-3">
						<div class="col-4">
							<p>{% trans %}usuario.idioma{% endtrans %}:
								{{usuario.idioma}}</p>
						</div>
						<div class="col-4">
							<p>{% trans %}usuario.temaColor{% endtrans %}:
								{{usuario.tema}}</p>
						</div>
						<div class="col-4 text-end">
							<a id="editarUsuario" href="{{ path('editarUsuario', {'id': usuario.id}) }}" class="btn">{% trans %}general.editar{% endtrans %}</a>
						</div>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>

	<div id="content" class="row">

		<div id="lateralIzquierdo" class="col-12 col-xl-2">
			{% if is_granted('ROLE_USER') %}
				{% if (is_granted('ROLE_ADMIN')) or (app.user.id == usuario.id) %}
					<div id="lateralAñadir" class="row">
						<div class="col text-center">
							<a id="videoAñadir" href="{{ path('nuevoVideo') }}" class="btn m-3">{% trans %}base.añadir{% endtrans %}</a>
						</div>
					</div>
				{% endif %}
			{% endif %}
		</div>

		<div id="main" class="col-12 col-xl-10">
			<div class="row mt-3">
				<div class="col">
					<h4>{% trans %}video.propios{% endtrans %}</h4>
				</div>
			</div>
			<ul class="listaVideos">
				<div class="row justify-content-center justify-content-xl-start">
					{% for video in usuario.videos %}
						<div class="col-10 col-xl-4">
							<li class='bloqueVideo'>
								<div class="row">
									<div class="col-12">
										<a href='{{ path('verVideo', {'id': video.id}) }}'><img id="video" src="{{ asset('images/thumbnailsVideos/' ~ video.thumbnail) }}"/></a>
									</div>
									<div class="col-12">
										<h3 id="tituloVideo">
											<a href='{{ path('verVideo', {'id': video.id}) }}'>{{video.titulo}}</a>
										</h3>
									</div>
									<div class="col-12">
										<a id="nickUsuario" href="{{ path('verPerfil', {'id': video.usuario.id}) }}">{{video.usuario.nick}}</a>
									</div>
									<div class="col-12">
										{{video.fecha|date("d-m-Y H:i")}}
									</div>
									<div class="col-12">
										{{video.comentarios|length}}
										{% trans %}index.comentarios{% endtrans %}
									</div>
									{% if is_granted('ROLE_USER') %}
										{% if (is_granted('ROLE_ADMIN') or app.user.id == video.usuario.id) %}
											<div class="col-12 text-end mb-2">
												<a id="videoEditar" class="btn" href='{{ path('editarVideo', {'id': video.id}) }}'>{% trans %}general.editar{% endtrans %}</a>
												<a id="videoBorrar" class="btn" href='{{ path('borrarVideo', {'id': video.id}) }}'>{% trans %}video.borrar{% endtrans %}</a>
											</div>
										{% endif %}
									{% endif %}
								</div>
							</li>
						</div>
						{% if (loop.index % 3) == 0 %}
						</div>
						<div class="row justify-content-center justify-content-xl-start">
						{% endif %}
					{% else %}
						<div class="col text-center">
							<li class='bloqueVideo'>{% trans %}index.videos{% endtrans %}</li>
						</div>
					{% endfor %}
				</div>
			</ul>
		</div>
	</div>
{% endblock %}
