{% extends 'viewtubeBase.html.twig' %}

{% block titulo %}
	{{video.titulo}}
	-
	{{ parent() }}
{% endblock %}

{% block main %}
	<div id="content" class="row">
		<div id="main" class="col-12 col-xl-9">
			<div class="container">

				<div class="row-cols-1">
					<div class="col">
						<h2>{{video.titulo}}</h2>
					</div>
					<div id="vidcover" class="col">
						<video id="video" src="{{ asset('videos/video-' ~ video.id ~ '.mp4') }}" width="100%" height="auto" controls/>
					</div>
				</div>
				<div id="videoInfo" class="row">
					<div class="col">
						<div class="row mt-2">
							<div class="col">
								<span class="small">
									{% trans %}video.publicado{% endtrans %}
								</span>
								{% if video.usuario is null %}
									{% trans %}video.desconocido{% endtrans %}
								{% else %}
									<a id="nickUsuario" href="{{ path('verPerfil', {'id': video.usuario.id}) }}">{{video.usuario.nick}}</a>
								{% endif %}
								<span class="small">
									{% trans %}video.en{% endtrans %}
									{{video.fecha|date("Y-m-d H:i")}}
								</span>
							</div>
							<div class="col text-end">
								{% trans %}video.categoria{% endtrans %}:
								{{video.categoria.nombre}}
							</div>
						</div>
						<div class="row mt-2">
							<div class="col">
								<h4>{% trans %}video.descripcion{% endtrans %}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{video.descripcion|raw}}
							</div>
						</div>
					</div>

					{% if is_granted('ROLE_USER') %}
						{% if (is_granted('ROLE_ADMIN') or app.user.id == video.usuario.id) %}
							<div class="col-12 text-end">
								<a id="videoEditar" class="btn" href='{{ path('editarVideo', {'id': video.id}) }}'>{% trans %}general.editar{% endtrans %}</a>
								<a id="videoBorrar" class="btn" href='{{ path('borrarVideo', {'id': video.id}) }}'>{% trans %}video.borrar{% endtrans %}</a>
							</div>
						{% endif %}
					{% endif %}

					{% if is_granted('ROLE_USER') %}
						<div class="row mt-3">
							{{ form_start(form) }}
							<div class="col mb-2">
								{{ form_label(form.texto, 'formulario.texto', {'label_attr': {'class': 'form-label'}}) }}
								{{ form_widget(form.texto) }}
								{{ form_help(form.texto) }}
								<div class="form-error">{{ form_errors(form.texto) }}</div>
							</div>
							{{form_row(form.save) }}
							{{ form_end(form) }}
						</div>
					{% else %}
						<div class="row-cols-1 mt-3" align="center">
							<div class="col">
								{% trans %}video.noSesion{% endtrans %}
							</div>
							<div class="col">
								<a href="{{ path("app_login") }}">{% trans %}base.iniciar{% endtrans %}</a>
							</div>
						</div>
					{% endif %}

					<div class="row-cols-1 mt-3">
						<div class="col">
							<h4>{% trans %}video.comentario{% endtrans %}</h4>
						</div>
						<ul>
							{% for comentario in video.comentarios %}
								<li class='bloqueComentario'>
									<div class="col">
										<strong>
											<a id="{% if video.usuario == comentario.usuario %}usuarioVideo{% else %}nickUsuario{% endif %}" href="{{ path('verPerfil', {'id': video.usuario.id}) }}">{{ comentario.usuario.nick }}</a>
											<!-- <a href="mailto:{{ comentario.usuario.email }}">{{ comentario.usuario.nick }}</a> -->
										</strong>
										{% trans %}video.en{% endtrans %}
										{{ comentario.fecha|date("Y-m-d H:i") }}
									</div>
									<div class="col">
										{{ comentario.texto|raw }}
									</div>
								</li>
							{% else %}
								<div class="col">
									<li>{% trans %}video.comentarioMensaje{% endtrans %}</li>
								</div>
							{% endfor %}
						</ul>
					</div>
				</div>

			</div>
		</div>

		<div id="lateralDerecho" class="col-12 col-xl-3">
			<div class="container">
				<div class="row mt-3">
					<div class="col">
						<h4>{% trans %}video.mas{% endtrans %}</h4>
					</div>
				</div>
				<ul class="listaVideos">
					{% for videoLateral in videos %}
						{% if (videoLateral.id != video.id) %}
							{% if (video.usuario.id == videoLateral.usuario.id) or (video.categoria.nombre == videoLateral.categoria.nombre) %}
								<div class="row">
									<div class="col">
										<li class='bloqueVideo'>
											<div class="row">
												<div class="col-12">
													<a href='{{ path('verVideo', {'id': videoLateral.id}) }}'><img id="video" src="{{ asset('images/thumbnailsVideos/thumbnailVideo-' ~ videoLateral.id ~ '.jpg') }}"/></a>
												</div>
												<div class="col-12">
													<h4 id="tituloVideo">
														<a href='{{ path('verVideo', {'id': videoLateral.id}) }}'>{{videoLateral.titulo}}</a>
													</h4>
												</div>

												<div class="col-12">
													<a id="nickUsuario" href="{{ path('verPerfil', {'id': videoLateral.usuario.id}) }}">{{videoLateral.usuario.nick}}</a>
												</div>
												<div class="col-12">
													{{videoLateral.fecha|date("Y-m-d H:i")}}
												</div>
												<div class="col-12">
													{{videoLateral.comentarios|length}}
													{% trans %}index.comentarios{% endtrans %}
												</div>
											</div>
										</li>
									</div>
								</div>
							{% endif %}
						{% endif %}
					{% else %}
						<div class="col">
							<li class='bloqueVideo'>{% trans %}index.videos{% endtrans %}</li>
						</div>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: 'textarea'});
	</script>
{% endblock %}
