<!doctype html>

<html lang="es">

	<head>
		<meta charset="utf-8">
		<title>
			{% block titulo %}
				Symfony HackBlog
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
		{% endblock %}
	</head>

	<body>
		<header>
			<h1>
				<a href="{{ path('index') }}">The Hack blog</a>
			</h1>
		</header>
		<div id="container">
			<div id="main">
				{% if is_granted('ROLE_USER') %}
					<div align="right">
						<p>Hola
							{{ app.user.nick }}
							<a href="{{ path("app_logout") }}">Cerrar sesión</a>
						</p>
					</div>
				{% else %}
					<div align="right">
						<p>
							<a href="{{ path("app_login") }}">Iniciar sesión</a>
						</p>
					</div>
				{% endif %}
				{% block main %}{% endblock %}
			</div>
		</div>
		<footer>Copyright ©
			{{ "now"|date("Y") }}
			<span>
				<a href='{{ path('index') }}'>The Hack Blog</a>
			</span>
		</footer>

		{% block javascripts %}{% endblock %}

	</body>

</html>
