{% extends 'blog/blogBase.html.twig' %}

{% block titulo %}
	{{ parent() }}
{% endblock %}

{% block main %}
	<div class="row">
		<div class="row"></div>
		<div class="row">
			<h2>{% trans %}index.entradas{% endtrans %}</h2>
			<ul class="listaVideos">
				{% for video in videos %}
					<li class='bloqueVideo'>
						<img src="{{ asset('images/thumbnail-' ~ video.id ~ '.jpg') }}"/>
						<h3>
							<a href='{{ path('verVideo', {'id': video.id}) }}'>{{video.titulo}}</a>
						</h3>
						{#<p>{{video.entradilla|raw}}</p>#}
						<p>
							<a href='{{ path('verVideo', {'id': video.id}) }}'>{% trans %}index.leer{% endtrans %}</a>
						</p>
						<p>{% trans %}index.publicada{% endtrans %}:
							{{video.fecha|date("Y-m-d H:i:s")}}. ({{video.comentarios|length}})
							{% trans %}index.comentarios{% endtrans %}.</p>
					</li>
				{% else %}
					<li class='bloqueVideo'>{% trans %}index.videos{% endtrans %}</li>
				{% endfor %}
			</ul>

			{% if is_granted('ROLE_ADMIN') %}
				<p>
					<a href="{{ path('nuevaVideo') }}">←
						{% trans %}index.añadir{% endtrans %}</a>
				</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
