{% extends 'blog/blogBase.html.twig' %}

{% block titulo %}
	{{noticia.titular}}
	-
	{{ parent() }}
{% endblock %}

{% block main %}
	<p class="small">
		<a href="{{ path('index') }}">←
			{% trans %}noticia.volver{% endtrans %}</a>
	</p>
	<h2>{{noticia.titular}}</h2>
	<p class="small">
		{% trans %}noticia.publicado{% endtrans %}
		{% if noticia.autor is null %}
			{% trans %}noticia.desconocido{% endtrans %}
		{% else %}
			{{noticia.autor.nick}}
		{% endif %}

		{% trans %}noticia.en{% endtrans %}
		{{noticia.fecha|date("Y-m-d H:i:s")}}
	</p>
	<div id="imgcover"><img src="{{ asset('images/cover-' ~ noticia.id ~ '.jpg') }}"/></div>
	{{noticia.cuerpo|raw}}

	{% if is_granted('ROLE_ADMIN') %}
		<p>
			<a href="{{ path('editarNoticia', {'id' : noticia.id}) }}">{% trans %}noticia.editar{% endtrans %}</a>
		</p>
		<p>
			<a href="{{ path('borrarNoticia', {'id' : noticia.id}) }}">{% trans %}noticia.borrar{% endtrans %}</a>
		</p>
	{% endif %}

	<h2>{% trans %}noticia.comentario{% endtrans %}</h2>
	<ul>
		{% for comentario in noticia.comentarios %}
			<li class='bloqueComentario'>
				<p class="{% if noticia.autor == comentario.usuario %}autor{% endif %}">
					<strong>
						<a href="mailto:{{ comentario.usuario.email }}">{{ comentario.usuario.nick }}</a>
					</strong>
					{% trans %}noticia.en{% endtrans %}
					{{ comentario.fecha|date("Y-m-d H:i:s") }}:</p>
				<p>{{ comentario.texto|raw }}</p>
			</li>
		{% else %}
			<li>{% trans %}noticia.comentarioMensaje{% endtrans %}</li>
		{% endfor %}
	</ul>
	{% if is_granted('ROLE_USER') %}
		{{ form_start(form) }}<p>{{ form_label(form.texto) }}<br/>{{ form_widget(form.texto) }}<br/>{{ form_help(form.texto) }}</p>
		<div class="form-error">{{ form_errors(form.texto) }}</div>
		{{form_row(form.save) }}{{ form_end(form) }}
	{% else %}
		<div align="center">
			<p>
				Debes iniciar sesión para comentar.
				<a href="{{ path("app_login") }}">Iniciar sesión</a>
			</p>
		</div>
	{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: 'textarea'});
	</script>
{% endblock %}
