{% extends 'blog/blogBase.html.twig' %}

{% block titulo %}
	{{usuario.nick}}
	-
	{{ parent() }}
{% endblock %}

{% block izquierda %}
	<div id="lateral" class="col-2"></div>
{% endblock %}

{% block main %}
	<div id="main" class="col-10">
		<h2>{{usuario.nick}}</h2>
		<ul>
			{% for video in usuario.videos %}
				<li class='bloqueVideo'>
					<img src="{{ asset('images/thumbnail-' ~ video.id ~ '.jpg') }}"/>
					<h3>
						<a href='{{ path('verVideo', {'id': video.id}) }}'>{{video.titulo}}</a>
					</h3>
					<p>{{video.descripcion|raw}}</p>
					<p>
						<a href='{{ path('verVideo', {'id': video.id}) }}'>{% trans %}index.leer{% endtrans %}</a>
					</p>
					<p>{% trans %}index.publicada{% endtrans %}:
						{{video.fecha|date("Y-m-d H:i:s")}}. ({{video.comentarios|length}})
						{% trans %}index.comentarios{% endtrans %}.</p>
				</li>
			{% else %}
				<li class='bloqueVideo'>{% trans %}index.videos{% endtrans %}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}